
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ebook Store</title>
   <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <style>
   body{
   text-align:center;
   margin:0;
   overflow-x:hidden;
   }
   </style>
  
</head>
<body class="bg-primary text-white">
<nav class="navbar navbar-expand-md navbar-dark bg-dark py-3">
<div class="container">
<a href="index.html" class="navbar-brand">
<h3 class="d-inline align-middle">Book Store</h3>
</a>

</div>

</nav>


<section class="py-5">
<h1 class="display-3">
Thank You </h1>

<p class="lead">Your Ebook should be emailed to you within 1 business day </p>

<a href="/" class="btn btn-dark btn-lg">Go Back Home</a>
</section>



</body>
</hmtl>